* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: clearsans;
    line-height: 1.6;
}

header, footer {
    color: black;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 5px;
}
