@font-face {
    font-family: clearsans;
    src: url(/wordlesolver/fonts/clear-sans/TTF/ClearSans-Bold.ttf);
}

@font-face {
    font-family: karnak;
    src: url(/wordlesolver/fonts/karnak_pro/KarnakPro-Medium_400.otf);
}

h1 {
    width: 100%;
    height: 100%;
    font-family: Karnak;
    font-size: 52px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    width: 33ch;
    height: 100%;
    max-width: 99%;
    font-family: clearsans;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 27px;
    margin-left: auto;
    margin-right: auto;
}

.gridContainer {
    width: 310px;
    height: 373px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 58px);
    gap: 5px 5px;
}

.box {
    width: 58px;
    height: 58px;
    font-family: clearsans;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    border: 2px solid rgb(211, 214, 218);
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.grey {
    border: 2px solid rgb(120, 124, 126);
    background-color: rgb(120, 124, 126);
    color: white;
    
}

.yellow {
    border: 2px solid rgb(201, 180, 88);
    background-color: rgb(201, 180, 88);
    color: white;
}

.green {
    border: 2px solid rgb(106, 170, 100);
    background-color: rgb(106, 170, 100);
    color: white;
}

.answerbox {
    width: auto;
    height: auto;
    min-height: 699px;
    font-family: clearsans;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0 auto;
    border: 2px solid rgb(199, 199, 199);
    background-color: white;
    border-radius: 30px;
    overflow: auto;
    box-sizing: border-box;
    padding: 10px 20px 10px;
}
