.keyboard {
  width: auto;
  height: auto;
  max-width: 600px;
  display: block;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}

.keyboardRow {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboardKey {
  font-family: clearsans;
  font-size: 1.25em;
  font-weight: bold;
  border: 0;
  padding: 5;
  margin: 0 6px 0 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer ;
  user-select: none;
  background-color: rgb(211, 214, 218);
  color: black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
  
.half {
  flex: 0.5;
}
  
.one {
  flex: 1;
}
  
.oneAndAHalf {
  flex: 1.5;
  font-size: 18px;
}
  