@font-face {
    font-family: clearsans;
    src: url(/static/fonts/clear-sans/TTF/ClearSans-Bold.ttf);
}
@font-face {
    font-family: karnak;
    src: url(/static/fonts/karnak_pro/KarnakPro-Medium_400.otf);
}
h1 {
    width: 100%;
    height: 100%;
    font-family: Karnak;
    font-size: 52px;
    text-align: center;
    position: fixed;
    top: 5%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
h2 {
    width: 26ch;
    height: 100%;
    font-family: clearsans;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 61px);
    gap: 5px 10px;
    position: fixed;
    top: 23%;
}
.box {
    width: 58px;
    height: 58px;
    font-family: clearsans;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    border: 2px solid rgb(211, 214, 218);
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.grey {
    border: 2px solid rgb(120, 124, 126);
    background-color: rgb(120, 124, 126);
    color: white;
    
}
.yellow {
    border: 2px solid rgb(201, 180, 88);
    background-color: rgb(201, 180, 88);
    color: white;
}
.green {
    border: 2px solid rgb(106, 170, 100);
    background-color: rgb(106, 170, 100);
    color: white;
}
.answerbox {
    width: 80%;
    height: 30%;
    font-family: clearsans;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    position: fixed;
    top: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 30px;
    overflow: auto;
    box-sizing: border-box;
    padding: 0px 20px 10px;
}